/****** Object:  Database [MedicalCareBJ]    Script Date: 26-09-2025 17:25:39 ******/
CREATE DATABASE [MedicalCareBJ]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 26-09-2025 17:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[Appointment_Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Appointment_StartUtc] [datetime2](7) NOT NULL,
	[Appointment_EndUtc] [datetime2](7) NOT NULL,
	[Appointment_Diagnosis] [nvarchar](500) NULL,
	[Appointment_Room] [nvarchar](30) NULL,
	[Appointment_Status] [nvarchar](20) NULL,
	[Appointment_CreatedBy] [nvarchar](128) NOT NULL,
	[Appointment_CreatedAt] [datetime2](7) NOT NULL,
	[Appointment_ModifiedBy] [nvarchar](128) NULL,
	[Appointment_ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[Appointment_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 26-09-2025 17:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doctor_Id] [int] IDENTITY(1,1) NOT NULL,
	[Doctor_FirstName] [nvarchar](100) NOT NULL,
	[Doctor_LastName] [nvarchar](100) NOT NULL,
	[Doctor_Email] [nvarchar](255) NULL,
	[Doctor_Phone] [nvarchar](50) NULL,
	[Doctor_LicenseNumber] [nvarchar](50) NOT NULL,
	[SpecialityId] [int] NOT NULL,
	[Doctor_CreatedBy] [nvarchar](128) NOT NULL,
	[Doctor_CreatedAt] [datetime2](7) NOT NULL,
	[Doctor_ModifiedBy] [nvarchar](128) NULL,
	[Doctor_ModifiedAt] [datetime2](7) NULL,
	[Doctor_Active] [bit] NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Doctor_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 26-09-2025 17:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_Id] [int] IDENTITY(1,1) NOT NULL,
	[Patient_FirstName] [nvarchar](100) NOT NULL,
	[Patient_LastName] [nvarchar](100) NOT NULL,
	[Patient_RUT] [varchar](12) NOT NULL,
	[Patient_DateOfBirth] [date] NOT NULL,
	[Patient_Gender] [char](1) NULL,
	[Patient_Phone] [nvarchar](50) NULL,
	[Patient_Email] [nvarchar](255) NULL,
	[Patient_AddressLine1] [nvarchar](150) NULL,
	[Patient_AddressLine2] [nvarchar](150) NULL,
	[Patient_City] [nvarchar](100) NULL,
	[Patient_State] [nvarchar](100) NULL,
	[Patient_PostalCode] [nvarchar](20) NULL,
	[Patient_CreatedBy] [nvarchar](128) NOT NULL,
	[Patient_CreatedAt] [datetime2](7) NOT NULL,
	[Patient_ModifiedBy] [nvarchar](128) NULL,
	[Patient_ModifiedAt] [datetime2](7) NULL,
	[Patient_Active] [bit] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Patient_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 26-09-2025 17:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[Speciality_Id] [int] IDENTITY(1,1) NOT NULL,
	[Speciality_Name] [nvarchar](100) NOT NULL,
	[Speciality_Description] [nvarchar](250) NULL,
	[Speciality_CreatedBy] [nvarchar](128) NOT NULL,
	[Speciality_CreatedAt] [datetime2](7) NOT NULL,
	[Speciality_ModifiedBy] [nvarchar](128) NULL,
	[Speciality_ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[Speciality_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26-09-2025 17:25:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_FirtName] [nvarchar](100) NOT NULL,
	[User_LastName] [nvarchar](100) NOT NULL,
	[User_Email] [nvarchar](100) NULL,
	[User_Phone] [nvarchar](100) NULL,
	[User_RUT] [nvarchar](12) NOT NULL,
	[User_Pass] [char](150) NOT NULL,
	[User_CreatedBy] [nvarchar](100) NOT NULL,
	[User_CreatedAt] [nvarchar](100) NOT NULL,
	[User_ModifiedBy] [nvarchar](100) NULL,
	[User_ModifiedAt] [nvarchar](100) NULL,
	[User_Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([Appointment_Id], [PatientId], [DoctorId], [Appointment_StartUtc], [Appointment_EndUtc], [Appointment_Diagnosis], [Appointment_Room], [Appointment_Status], [Appointment_CreatedBy], [Appointment_CreatedAt], [Appointment_ModifiedBy], [Appointment_ModifiedAt]) VALUES (22, 8, 5, CAST(N'2025-09-26T09:15:50.5933333' AS DateTime2), CAST(N'2025-09-26T10:15:50.5933333' AS DateTime2), N'diabetes', N'1', N'atentid@', N'1', CAST(N'2025-09-26T08:15:50.5933333' AS DateTime2), NULL, NULL)
INSERT [dbo].[Appointment] ([Appointment_Id], [PatientId], [DoctorId], [Appointment_StartUtc], [Appointment_EndUtc], [Appointment_Diagnosis], [Appointment_Room], [Appointment_Status], [Appointment_CreatedBy], [Appointment_CreatedAt], [Appointment_ModifiedBy], [Appointment_ModifiedAt]) VALUES (25, 9, 12, CAST(N'2025-09-26T09:15:50.5933333' AS DateTime2), CAST(N'2025-09-26T10:15:50.5933333' AS DateTime2), N'diabetes', N'1', N'atentid@', N'1', CAST(N'2025-09-26T08:15:50.5933333' AS DateTime2), NULL, NULL)
INSERT [dbo].[Appointment] ([Appointment_Id], [PatientId], [DoctorId], [Appointment_StartUtc], [Appointment_EndUtc], [Appointment_Diagnosis], [Appointment_Room], [Appointment_Status], [Appointment_CreatedBy], [Appointment_CreatedAt], [Appointment_ModifiedBy], [Appointment_ModifiedAt]) VALUES (26, 9, 12, CAST(N'2025-09-26T10:15:50.5933333' AS DateTime2), CAST(N'2025-09-26T11:15:50.5933333' AS DateTime2), N'diabetes', N'1', N'atentid@', N'1', CAST(N'2025-09-26T08:15:50.5933333' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([Doctor_Id], [Doctor_FirstName], [Doctor_LastName], [Doctor_Email], [Doctor_Phone], [Doctor_LicenseNumber], [SpecialityId], [Doctor_CreatedBy], [Doctor_CreatedAt], [Doctor_ModifiedBy], [Doctor_ModifiedAt], [Doctor_Active]) VALUES (5, N'BASTIAN ', N'JARA', N'prueba', N'569', N'12345', 6, N'1', CAST(N'2025-09-25T00:00:00.0000000' AS DateTime2), N'1', CAST(N'2025-09-26T20:08:47.8833333' AS DateTime2), 1)
INSERT [dbo].[Doctor] ([Doctor_Id], [Doctor_FirstName], [Doctor_LastName], [Doctor_Email], [Doctor_Phone], [Doctor_LicenseNumber], [SpecialityId], [Doctor_CreatedBy], [Doctor_CreatedAt], [Doctor_ModifiedBy], [Doctor_ModifiedAt], [Doctor_Active]) VALUES (12, N'string', N'string', N'string', N'string', N'string', 1, N'1', CAST(N'2025-09-26T07:45:51.6666667' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[Doctor] ([Doctor_Id], [Doctor_FirstName], [Doctor_LastName], [Doctor_Email], [Doctor_Phone], [Doctor_LicenseNumber], [SpecialityId], [Doctor_CreatedBy], [Doctor_CreatedAt], [Doctor_ModifiedBy], [Doctor_ModifiedAt], [Doctor_Active]) VALUES (13, N'string', N'string', N'string', N'string', N'123456', 1, N'1', CAST(N'2025-09-26T07:46:15.5766667' AS DateTime2), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Patient_Id], [Patient_FirstName], [Patient_LastName], [Patient_RUT], [Patient_DateOfBirth], [Patient_Gender], [Patient_Phone], [Patient_Email], [Patient_AddressLine1], [Patient_AddressLine2], [Patient_City], [Patient_State], [Patient_PostalCode], [Patient_CreatedBy], [Patient_CreatedAt], [Patient_ModifiedBy], [Patient_ModifiedAt], [Patient_Active]) VALUES (8, N'Pruba', N'Tenica', N'19517569-1', CAST(N'1996-12-12' AS Date), N'M', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'1', CAST(N'2025-09-25T00:00:00.0000000' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[Speciality] ON 

INSERT [dbo].[Speciality] ([Speciality_Id], [Speciality_Name], [Speciality_Description], [Speciality_CreatedBy], [Speciality_CreatedAt], [Speciality_ModifiedBy], [Speciality_ModifiedAt]) VALUES (1, N'Psiquiatría', N'Psiquiatría', N'Admin', CAST(N'2025-09-25T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Speciality] ([Speciality_Id], [Speciality_Name], [Speciality_Description], [Speciality_CreatedBy], [Speciality_CreatedAt], [Speciality_ModifiedBy], [Speciality_ModifiedAt]) VALUES (4, N'Urología', N'Urología', N'Admin', CAST(N'2025-09-26T04:33:13.8649772' AS DateTime2), NULL, NULL)
INSERT [dbo].[Speciality] ([Speciality_Id], [Speciality_Name], [Speciality_Description], [Speciality_CreatedBy], [Speciality_CreatedAt], [Speciality_ModifiedBy], [Speciality_ModifiedAt]) VALUES (5, N'Cardiología', N'Cardiología', N'Admin', CAST(N'2025-09-26T04:33:25.3031302' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Speciality] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_Id], [User_FirtName], [User_LastName], [User_Email], [User_Phone], [User_RUT], [User_Pass], [User_CreatedBy], [User_CreatedAt], [User_ModifiedBy], [User_ModifiedAt], [User_Active]) VALUES (1, N'Admin', N'Admin', NULL, NULL, N'19517569-1', N'655e786674d9d3e77bc05ed1de37b4b6bc89f788829f9f3c679e7687b410c89b                                                                                      ', N'Admin', N'2025-09-25', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Appointment_Doctor_Time]    Script Date: 26-09-2025 17:25:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Appointment_Doctor_Time] ON [dbo].[Appointment]
(
	[DoctorId] ASC,
	[Appointment_StartUtc] ASC,
	[Appointment_EndUtc] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Doctor__DEA9CA7AFF2DF35E]    Script Date: 26-09-2025 17:25:40 ******/
ALTER TABLE [dbo].[Doctor] ADD UNIQUE NONCLUSTERED 
(
	[Doctor_LicenseNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Patient_RUT]    Script Date: 26-09-2025 17:25:40 ******/
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [UQ_Patient_RUT] UNIQUE NONCLUSTERED 
(
	[Patient_RUT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Speciali__A9BB503CFD8FC1EC]    Script Date: 26-09-2025 17:25:40 ******/
ALTER TABLE [dbo].[Speciality] ADD UNIQUE NONCLUSTERED 
(
	[Speciality_Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (sysutcdatetime()) FOR [Appointment_CreatedAt]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT (sysutcdatetime()) FOR [Doctor_CreatedAt]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT (sysutcdatetime()) FOR [Patient_CreatedAt]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ((1)) FOR [Patient_Active]
GO
ALTER TABLE [dbo].[Speciality] ADD  DEFAULT (sysutcdatetime()) FOR [Speciality_CreatedAt]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Speciality] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Speciality] ([Speciality_Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Speciality]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [CK_Appointment_NoOverlap] CHECK  (([Appointment_EndUtc]>[Appointment_StartUtc]))
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [CK_Appointment_NoOverlap]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDoctors]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddDoctors]
	@Doctor_FirstName nvarchar(100)
    ,@Doctor_LastName nvarchar(100)
    ,@Doctor_Email nvarchar(255)
    ,@Doctor_Phone nvarchar(50)
    ,@Doctor_LicenseNumber nvarchar(50)
    ,@SpecialityId int
    ,@Doctor_CreatedBy nvarchar(128)

AS
BEGIN
	declare @return int
	    IF EXISTS (select * from doctor WHERE [Doctor_LicenseNumber] = @Doctor_LicenseNumber) 
			begin
					set @return = 0
			end
		else
			begin
				begin try
						INSERT INTO [dbo].[Doctor]
					   ([Doctor_FirstName]
					   ,[Doctor_LastName]
					   ,[Doctor_Email]
					   ,[Doctor_Phone]
					   ,[Doctor_LicenseNumber]
					   ,[SpecialityId]
					   ,[Doctor_CreatedBy]
					   ,[Doctor_CreatedAt]
					   ,[Doctor_Active])

						VALUES
					   (@Doctor_FirstName 
					   ,@Doctor_LastName 
					   ,@Doctor_Email 
					   ,@Doctor_Phone 
					   ,@Doctor_LicenseNumber 
					   ,@SpecialityId 
					   ,@Doctor_CreatedBy 
					   ,GETUTCDATE()
					   ,1)

					   set @return = 1
				end try
				begin catch
					set @return = 0
				end catch
			
		end
		
			select @return

END

GO
/****** Object:  StoredProcedure [dbo].[sp_AddPatients]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddPatients]
	 @Patient_FirstName nvarchar(100)
    ,@Patient_LastName nvarchar(100)
    ,@Patient_RUT varchar(12)
    ,@Patient_DateOfBirth date
    ,@Patient_Gender char(1)
    ,@Patient_Phone nvarchar(50)
    ,@Patient_Email nvarchar(255)
    ,@Patient_AddressLine1 nvarchar(150)
    ,@Patient_AddressLine2 nvarchar(150)
    ,@Patient_City nvarchar(100)
    ,@Patient_State nvarchar(100)
    ,@Patient_PostalCode nvarchar(20)
    ,@Patient_CreatedBy nvarchar(128)
as
begin
	declare @return int
	IF EXISTS (select * from [Patient] WHERE Patient_RUT = @Patient_RUT) 
		begin
				
				set @return = 0
				
		end
		else
		begin
			begin try
			INSERT INTO [dbo].[Patient]
					   ([Patient_FirstName]
					   ,[Patient_LastName]
					   ,[Patient_RUT]
					   ,[Patient_DateOfBirth]
					   ,[Patient_Gender]
					   ,[Patient_Phone]
					   ,[Patient_Email]
					   ,[Patient_AddressLine1]
					   ,[Patient_AddressLine2]
					   ,[Patient_City]
					   ,[Patient_State]
					   ,[Patient_PostalCode]
					   ,[Patient_CreatedBy]
					   ,[Patient_CreatedAt]
					   ,[Patient_Active])
				 VALUES
					 (@Patient_FirstName 
					,@Patient_LastName 
					,@Patient_RUT 
					,@Patient_DateOfBirth 
					,@Patient_Gender 
					,@Patient_Phone 
					,@Patient_Email 
					,@Patient_AddressLine1 
					,@Patient_AddressLine2 
					,@Patient_City 
					,@Patient_State 
					,@Patient_PostalCode 
					,@Patient_CreatedBy 
					,GETUTCDATE()
					,1)

					set @return = 1
				end try
				begin catch
					set @return = 0
				end catch
			
		end
		
			select @return
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDoctor]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DeleteDoctor]
	 @Doctor_Id	int

as
begin
	declare @return int
	begin try
		update doctor
		set [doctor_Active] = 0
		where Doctor_Id = @Doctor_Id		

		set @return = 1
	end try
	begin catch
		set @return = 0
	end catch

	select @return
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePatients]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DeletePatients]
	 @Patient_Id	int

as
begin
	declare @return int
	begin try
		update Patient
		set [Patient_Active] = 0
		where Patient_Id = @Patient_Id		

		set @return = 1
	end try
	begin catch
		set @return = 0
	end catch

	select @return
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUser]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetUser]-- '19517569-1', 'prueba', '1'
	@User nvarchar(12),
	@Pass varchar(50),
	@TypeUser nvarchar(1)
as
begin
	select  [User_Id]
      ,[User_FirtName]
      ,[User_LastName]
      ,[User_Email]
      ,[User_Phone]
      ,[User_RUT]
      ,[User_Active]
	from [User]
	where User_Rut = @User
	and Upper(User_Pass) = convert(varchar(256),HASHBYTES('SHA2_256',@Pass),2)
	and User_Active = 1
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ListAppointment]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_ListAppointment]
as
begin
	SELECT [Appointment_Id]
      ,p.[Patient_FirstName] +' '+ [Patient_LastName] as patient
      ,d.[Doctor_FirstName] +' '+ [Doctor_LastName] as doctor
      ,[Appointment_StartUtc]
      ,[Appointment_EndUtc]
      ,[Appointment_Diagnosis]
      ,[Appointment_Room]
      ,[Appointment_Status]
      ,[Appointment_CreatedBy]
      ,[Appointment_CreatedAt]
      ,[Appointment_ModifiedBy]
      ,[Appointment_ModifiedAt]
  FROM [dbo].[Appointment] as a
  inner join patient as p on p.Patient_Id= a.PatientId
  inner join doctor as d on d.Doctor_Id= a.DoctorId
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListDoctors]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListDoctors]
AS
BEGIN
	SELECT  
	   [Doctor_Id]
      ,[Doctor_FirstName]
      ,[Doctor_LastName]
      ,[Doctor_Email]
      ,[Doctor_Phone]
      ,[Doctor_LicenseNumber]
      ,s.[Speciality_Name]
      ,u.user_firtname +' '+ u.user_lastname
      ,[Doctor_CreatedAt]
      ,[Doctor_ModifiedBy]
      ,[Doctor_ModifiedAt]
      ,[Doctor_Active]
  FROM [dbo].[Doctor] as d
  inner join speciality as s on s.Speciality_Id = d.SpecialityId
  inner join [dbo].[User] as u on u.User_Id = CAST(d.Doctor_CreatedBy  as int)  
  WHERE [Doctor_Active] = 1
 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListPatients]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListPatients]
as
begin
	SELECT [Patient_Id]
      ,[Patient_FirstName]
      ,[Patient_LastName]
      ,[Patient_RUT]
      ,[Patient_DateOfBirth]
      ,[Patient_Gender]
      ,[Patient_Phone]
      ,[Patient_Email]
      ,[Patient_AddressLine1]
      ,[Patient_AddressLine2]
      ,[Patient_City]
      ,[Patient_State]
      ,[Patient_PostalCode]
      ,u.user_firtname +' '+ u.user_lastname
      ,[Patient_CreatedAt]
      ,(select user_firtname +' '+ user_lastname from [dbo].[User] where user_id = p.Patient_ModifiedBy) as Patient_ModifiedBy
      ,[Patient_ModifiedAt]
      ,[Patient_Active]
  FROM [dbo].[Patient] as p
  inner join [dbo].[User] as u on u.User_Id = CAST(p.Patient_CreatedBy  as int)  
  where p.patient_active = 1

end


select * from [dbo].[Patient]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDoctor]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateDoctor]
	 @Doctor_Id	int
     ,@Doctor_FirstName nvarchar(100)
	 ,@Doctor_LastName nvarchar(100)
	 ,@Doctor_Email  nvarchar(255)
	 ,@Doctor_Phone  nvarchar(50)
	 ,@SpecialityId  int
	 ,@Doctor_ModifiedBy nvarchar(128)

as
begin
	declare @return int
	begin try
		update Doctor
		set
		   Doctor_FirstName		= @Doctor_FirstName 	
		  ,Doctor_LastName 		= @Doctor_LastName 
		  ,Doctor_Email  		= @Doctor_Email  
		  ,Doctor_Phone  		= @Doctor_Phone  
		  ,SpecialityId  		= @SpecialityId  
		  ,Doctor_ModifiedBy 	= @Doctor_ModifiedBy 
		  ,Doctor_ModifiedAt 	= GETUTCDATE() 
		where Doctor_Id = @Doctor_Id		

		set @return = 1
	end try
	begin catch
		set @return = 0
	end catch

	select @return
end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePatients]    Script Date: 26-09-2025 17:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_UpdatePatients]
	 @Patient_Id	int
	,@Patient_FirstName nvarchar(100)
    ,@Patient_LastName nvarchar(100)
    ,@Patient_DateOfBirth date
    ,@Patient_Gender char(1)
    ,@Patient_Phone nvarchar(50)
    ,@Patient_Email nvarchar(255)
    ,@Patient_AddressLine1 nvarchar(150)
    ,@Patient_AddressLine2 nvarchar(150)
    ,@Patient_City nvarchar(100)
    ,@Patient_State nvarchar(100)
    ,@Patient_PostalCode nvarchar(20)
	,@Patient_ModifiedBy nvarchar(128)

as
begin
	declare @return int
	begin try
		update Patient
		set
		  [Patient_FirstName]		 = @Patient_FirstName,
		  [Patient_LastName]		 = @Patient_LastName,
		  [Patient_DateOfBirth]		 = @Patient_DateOfBirth,
		  [Patient_Gender]			 = @Patient_Gender,
		  [Patient_Phone]			 = @Patient_Phone,
		  [Patient_Email]			 = @Patient_Email,
		  [Patient_AddressLine1]	 = @Patient_AddressLine1,
		  [Patient_AddressLine2]	 = @Patient_AddressLine2,
		  [Patient_City]			 = @Patient_City,
		  [Patient_State]			 = @Patient_State,
		  [Patient_PostalCode]		 = @Patient_PostalCode,
		  [Patient_ModifiedBy]		 = @Patient_ModifiedBy,
		  [Patient_ModifiedAt]		 = GETUTCDATE()
		where Patient_Id = @Patient_Id		

		set @return = 1
	end try
	begin catch
		set @return = 0
	end catch

	select @return
end
GO
